* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --off-white: #fcfcff;
  --gray: #8498af;
  --blue-gray: #697586;
  --white: #ffff;
  --black: #383838;
  --purple: #b0a6bd;
  --pink: #f5a3b7;
  --light-pink: #fee2e3;
  --green: #7fccc6;
  --red: #e77373;
  --orange: #fdb64e;
}
.row {
  display: flex;
  margin-top: 20px;
  gap: 2%;
  justify-content: center;
}
/**/
.best-seller-title {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #000;
  margin-top: 3rem;
  /* font-weight: 600; */
}
.see-all-btn {
  text-align: center;
  color: var(--blue-gray);

  cursor: pointer;
}
.see-all-btn:hover {
  text-decoration: underline;
}
.best-seller-card {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  /* position: relative; */
}
.best-seller-btn {
  background-color: var(--white);
  box-shadow: inset;
  border: 2px solid var(--black);
  margin-top: auto;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 70%;
  margin: auto;
  /* position: absolute; */
  bottom: 20px;
}
.best-seller-btn:hover {
  box-shadow: inset;
  background: linear-gradient(
    88.13deg,
    #252525 -42.06%,
    #3a3a3a 58.46%,
    #323232 165.46%
  );
  border-radius: 4px;
  color: var(--white);
}
/**/
.product-card {
  box-shadow: 0 0 1px #383838;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  height: 450px;
  width: 20%;
}

.product-card-img img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}
.product-card-desc {
  padding: 20px;
}

.product-card-title {
  font-size: 16px;
}

.product-card-title,
.product-card-price {
  color: var(--black);
}

.product-card-subDesc {
  color: var(--blue-gray);
}
.product-card-button {
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid var(--black);
  transition: all 0.3s;
}

.product-card-button:hover {
  background-color: var(--black);
  color: white;
}
