@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --off-white: #fcfcff;
  --gray: #8498af;
  --blue-gray: #697586;
  --white: #ffff;
  --black: #383838;
  --purple: #b0a6bd;
  --pink: #f5a3b7;
  --light-pink: #fee2e3;
  --green: #7fccc6;
  --red: #e77373;
  --orange: #fdb64e;
  --font-poppins: "Poppins", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--font);
  font-family: var(--font-poppins);
}

ul {
  list-style-type: none;
  margin-left: 37%;
  padding: 0;
}

.rating {
  margin-left: 37%;
}

.page {
  padding: 2%;
  margin: auto;
}

.fa {
  color: #f2dd1d;
}

.card-img-top {
  width: 90%;
  height: 225px;
}

/* .view {
  background-color: #dfe6e0;
  padding: 10px;
  margin: 20px;
} */

.card {
  width: 95%;
  padding: 0px;
  margin-left: 2%;
}

.card-footer {
  background-color: #fbfbfb;
  columns: 000;
  font-weight: 700;
}

.price {
  color: #383838;
  font-weight: 600;
}
.card-title {
  color: #000;
}
/* style best
.product_card small,
.product_card strong {
  display: block;
}

.product_card .card-header {
  position: relative;
  overflow: hidden;
}

.product_card .card-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 1s ease;
}
.product_card .card:hover .card-overlay {
  top: 0%;
}

.product_card .card .details-btn .btn {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  border-radius: 0;
  transition: bottom 1s ease;
}
.product_card .card:hover .details-btn .btn {
  bottom: 0%;
}

.product_card .card .card-body {
  padding: 10px 0;
}

.text-decoration-line-through {
  text-decoration: line-through;
} */
.w-100 {
  /* background-size: cover; */
  /* width: 100%; */

  height: 350px;
  background-size: cover;
}
.besSeller-title {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}
.best-seller-wrapper {
  display: flex;

  flex-wrap: wrap !important;
  margin-top: 20px;
  gap: 20px;
}
.best-seller-title {
  text-align: center !important;
  margin-top: 1.5rem;
  font-weight: 600;
}
.see-all-btn {
  text-align: right !important;
  color: var(--blue-gray) !important;
  margin-top: 0.2rem;
  margin-right: 8rem;
  cursor: pointer;
}
.see-all-btn:hover {
  text-decoration: underline;
  color: var(--pink);
}
.best-seller-card {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  /* position: relative; */
}
.best-seller-btn {
  background-color: var(--white) !important;
  box-shadow: inset !important;
  border: 2px solid var(--black) !important;
  margin-top: auto;
  color: var(--black) !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 70%;
  margin: auto !important;
  /* position: absolute; */
  bottom: 20px;
}
.best-seller-btn:hover {
  box-shadow: inset !important;
  background: linear-gradient(
    88.13deg,
    #252525 -42.06%,
    #3a3a3a 58.46%,
    #323232 165.46%
  ) !important;
  border-radius: 4px !important;
  color: var(--white) !important;
}
/* .best-seller-shop-btn {
  background-color: var(--pink) !important;
  box-shadow: inset !important;
  text-align: center;
  justify-self: center;
  align-self: center;
} */
.allCate,
.card-img-top {
  margin: auto !important;
}
